CryptNews.json
{
  "name": "CryptNews",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f67e67c7-4436-4651-88ac-5100ab5b3df8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/markets?vs_currency=eur&order=volume_desc&per_page=10&page=1&price_change_percentage=24h,7d",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        -160
      ],
      "id": "cb8c58e3-236a-405b-98dc-dd1339932f23",
      "name": "HTTP_Req_AllCrypto"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/pi-network/market_chart?vs_currency=eur&days=2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        128
      ],
      "id": "7d28f96c-04c7-480b-bd4b-49dae79fb428",
      "name": "HTTP_Req_PI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        -16
      ],
      "id": "b7c93190-42e2-4b02-ac17-712cdc510dc1",
      "name": "HTTP_Req_Groq",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VF5Vh7LxXcml03T0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\n\nconst htmlContent = content\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong style=\"color:#111111;\">$1</strong>')\n  .replace(/\\n\\n/g, '</p><p style=\"margin:0 0 14px;line-height:1.8;color:#333333;font-size:14px;\">')\n  .replace(/\\n/g, '<br>');\n\nconst date = new Date().toLocaleDateString('fr-FR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst html = `<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#f5f5f5;font-family:Arial,sans-serif;\">\n<div style=\"max-width:600px;margin:32px auto;background:#ffffff;border-radius:8px;overflow:hidden;border:1px solid #e0e0e0;\">\n\n  <!-- HEADER -->\n  <div style=\"background:#111111;padding:28px 32px;\">\n    <p style=\"margin:0 0 6px;font-size:11px;color:#00ff9d;font-family:monospace;letter-spacing:2px;\">~/cryptnews</p>\n    <h1 style=\"margin:0;font-size:20px;color:#ffffff;font-weight:700;\">🚀 Crypto Daily Report</h1>\n    <p style=\"margin:6px 0 0;font-size:12px;color:#888888;font-family:monospace;\">${date}</p>\n  </div>\n\n  <!-- CONTENU -->\n  <div style=\"padding:28px 32px;\">\n    <p style=\"margin:0 0 14px;line-height:1.8;color:#333333;font-size:14px;\">${htmlContent}</p>\n  </div>\n\n  <!-- SOURCES -->\n  <div style=\"padding:20px 32px;background:#f9f9f9;border-top:1px solid #e0e0e0;\">\n    <p style=\"margin:0 0 12px;font-size:11px;color:#999999;font-family:monospace;letter-spacing:1px;\">SOURCES</p>\n    <div style=\"display:flex;flex-wrap:wrap;gap:8px;\">\n      <a href=\"https://www.coingecko.com\" style=\"padding:5px 10px;border:1px solid #e0e0e0;border-radius:4px;color:#111111;font-size:12px;background:#ffffff;text-decoration:none;\">CoinGecko</a>\n      <a href=\"https://coinmarketcap.com\" style=\"padding:5px 10px;border:1px solid #e0e0e0;border-radius:4px;color:#111111;font-size:12px;background:#ffffff;text-decoration:none;\">CoinMarketCap</a>\n      <a href=\"https://www.binance.com/fr/markets/overview\" style=\"padding:5px 10px;border:1px solid #e0e0e0;border-radius:4px;color:#111111;font-size:12px;background:#ffffff;text-decoration:none;\">Binance</a>\n      <a href=\"https://www.reuters.com/technology/cryptocurrency\" style=\"padding:5px 10px;border:1px solid #e0e0e0;border-radius:4px;color:#111111;font-size:12px;background:#ffffff;text-decoration:none;\">Reuters Crypto</a>\n      <a href=\"https://cryptopanic.com\" style=\"padding:5px 10px;border:1px solid #e0e0e0;border-radius:4px;color:#111111;font-size:12px;background:#ffffff;text-decoration:none;\">CryptoPanic</a>\n      <a href=\"https://minepi.com\" style=\"padding:5px 10px;border:1px solid #e0e0e0;border-radius:4px;color:#111111;font-size:12px;background:#ffffff;text-decoration:none;\">Pi Network</a>\n    </div>\n  </div>\n\n  <!-- FOOTER -->\n  <div style=\"padding:16px 32px;background:#111111;text-align:center;\">\n    <p style=\"margin:0;font-size:11px;color:#555555;font-family:monospace;\">generated by n8n · groq/llama-3.3 · coingecko — <a href=\"https://vincentfrg.vercel.app\" style=\"color:#00ff9d;text-decoration:none;\">vincentfrg.vercel.app</a></p>\n  </div>\n\n</div>\n</body>\n</html>`;\n\nreturn [{ json: { emailContent: html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -16
      ],
      "id": "c0ede8e2-c6f6-4db9-b0a6-a6da526453e4",
      "name": "Format_mail"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst top10 = items\n  .filter(item => \n    item.json.current_price !== null && \n    item.json.current_price !== undefined &&\n    item.json.price_change_percentage_24h !== null &&\n    item.json.price_change_percentage_24h !== undefined &&\n    typeof item.json.price_change_percentage_24h === 'number' &&\n    !item.json.prices\n  )\n  .map(item => {\n    const change7d = item.json.price_change_percentage_7d_in_currency;\n    const change7dStr = change7d !== undefined && change7d !== null ? ` | 7j: ${change7d.toFixed(2)}%` : '';\n    return `${item.json.name} (${item.json.symbol.toUpperCase()}): ${item.json.current_price}EUR | 24h: ${item.json.price_change_percentage_24h.toFixed(2)}%${change7dStr}`;\n  });\n\nconst piItem = items.find(item => item.json.prices);\nconst piPrices = piItem.json.prices;\nconst piFirst = piPrices[0][1];\nconst piLast = piPrices[piPrices.length - 1][1];\nconst piChange = ((piLast - piFirst) / piFirst * 100).toFixed(2);\nconst piSummary = `Pi Network (PI): ${piLast.toFixed(4)}EUR | 48h: ${piChange}%`;\n\nconst report = `TOP 10 (par volume): ${top10.join(' || ')} || ${piSummary}`;\nconst prompt = `Tu es un analyste crypto expert. Données marché : ${report}. Génère un rapport détaillé en français avec : 1) Tendance générale du marché 2) Analyse des cryptos les plus significatives 3) Analyse Pi Network 4) Perspectives à court terme. Ne cite aucune source dans le texte. Rédige uniquement l'analyse, sans références entre parenthèses ni numéros de sources.`;\n\nreturn [{ json: { report, prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -16
      ],
      "id": "d7043023-a5ca-4482-9130-5dec32d046fc",
      "name": "Format_report"
    },
    {
      "parameters": {
        "fromEmail": "YOUR_EMAIL@gmail.com",
        "toEmail": "YOUR_EMAIL@gmail.com",
        "subject": "= 🚀 Crypto Daily Report - {{ $now.toFormat('dd/MM/yyyy') }}",
        "html": "={{ $json.emailContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1152,
        -16
      ],
      "id": "346656df-1cfe-45ac-b803-2293cffdb189",
      "name": "Send an Email",
      "webhookId": "13279a19-bb2e-4df6-a969-50a6c1e8e799",
      "credentials": {
        "smtp": {
          "id": "FyFqbCYoNtF3zujA",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        -16
      ],
      "id": "4f55239f-5c2a-4808-a86e-aab2b2531a50",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP_Req_AllCrypto",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP_Req_PI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Req_AllCrypto": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Req_PI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP_Req_Groq": {
      "main": [
        [
          {
            "node": "Format_mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format_report": {
      "main": [
        [
          {
            "node": "HTTP_Req_Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format_mail": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format_report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6d815882-c46f-40b6-a9a2-b1b3f9dfc731",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d886379a17e207c5e125da1142bff762ac81bb822c9571d485c3b42c5839fe50"
  },
  "nodeGroups": [],
  "id": "n77jbvTHUKOmF0Oa",
  "tags": []
}